<form method="post" {{ form_enctype(form) }} role="form">
<div class="row">
	{% if form_errors(form) %}
	<div class="alert alert-danger">
		{{ form_errors(form) }}
	</div>	
	{% endif %}
</div>
<div class="row">
	<div class="form-group col-xs-4">
		{% if form_errors(form.type) %}
		<div class="alert alert-danger">
			{{ form_errors(form.type) }}
		</div>	
		{% endif %}
		{{ form_label(form.type,"Type") }}
		{{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-10">
		{% if form_errors(form.contenu) %}
			<div class="alert alert-danger">
				{{ form_errors(form.contenu) }}
			</div>
		{% endif %}
		{{ form_widget(form.contenu) }}
	</div>
</div>
{{ form_rest(form) }}
<div class="row">
	<div class="center-block col-md-12">
		<div class="btn-group">
			<a href="{{ path('medical_consultation_add',{'id':patient.id}) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour vers consultation
			</a>
			<button type="submit" class="btn btn-success">
				<i class="glyphicon glyphicon-floppy-disk"></i>
				Enregistrer
			</button>
		</div>
	</div>
</div>
</form>