<div class="col-md-6">
	<h4>Formule leucocytaire</h4>
	<div class="row">
		{{ form_widget(form.P20) }}
		{{ form_label(form.P20) }}
	</div>
	<div class="row">
		{{ form_widget(form.P21) }}
		{{ form_label(form.P21) }}
	</div>
	<div class="row">
		{{ form_widget(form.P22) }}
		{{ form_label(form.P22) }}
	</div>
	<div class="row">
		{{ form_widget(form.P23) }}
		{{ form_label(form.P23) }}
	</div>
	<div class="row">
		{{ form_widget(form.P24) }}
		{{ form_label(form.P24) }}
	</div>
	<div class="row">
		{{ form_widget(form.P28) }}
		{{ form_label(form.P28) }}
	</div>
</div>
<div class="col-md-6">
	<h4>Plaquettes</h4>
	<div class="row">
		{{ form_widget(form.P25) }}
		{{ form_label(form.P25) }}
	</div>
	
	<h4>H&eacute;moglobines</h4>
	<div class="row">
		{{ form_widget(form.P26) }}
		{{ form_label(form.P26) }}
	</div>
	<div class="row">
		{{ form_widget(form.P27) }}
		{{ form_label(form.P27) }}
	</div>
</div>