<div class="col-md-12">
	<h4>H&eacute;mogramme num&eacute;ration sanguine</h4>
	<div class="col-md-6">
		<div class="row">
			{{ form_widget(form.P12) }}
			{{ form_label(form.P12) }}
		</div>
		<div class="row">
			{{ form_widget(form.P13) }}
			{{ form_label(form.P13) }}
		</div>
		<div class="row">
			{{ form_widget(form.P14) }}
			{{ form_label(form.P14) }}
		</div>
		<div class="row">
			{{ form_widget(form.P15) }}
			{{ form_label(form.P15) }}
		</div>
		<div class="row">
			{{ form_widget(form.P16) }}
			{{ form_label(form.P16) }}
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			{{ form_widget(form.P17) }}
			{{ form_label(form.P17) }}
		</div>
		<div class="row">
			{{ form_widget(form.P18) }}
			{{ form_label(form.P18) }}
		</div>
		<div class="row">
			{{ form_widget(form.P19) }}
			{{ form_label(form.P19) }}
		</div>
	</div>
</div>