<div class="col-md-5">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Les hormones</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<div class="row">
					{{ form_widget(form.P89) }}
					{{ form_label(form.P89) }}
				</div>
				<div class="row">
					{{ form_widget(form.P90) }}
					{{ form_label(form.P90) }}
				</div>
				<div class="row">
					{{ form_widget(form.P91) }}
					{{ form_label(form.P91) }}
				</div>
				<div class="row">
					{{ form_widget(form.P92) }}
					{{ form_label(form.P92) }}
				</div>
				<div class="row">
					{{ form_widget(form.P93) }}
					{{ form_label(form.P93) }}
				</div>
				<div class="row">
					{{ form_widget(form.P94) }}
					{{ form_label(form.P94) }}
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					{{ form_widget(form.P95) }}
					{{ form_label(form.P95) }}
				</div>
				<div class="row">
					{{ form_widget(form.P96) }}
					{{ form_label(form.P96) }}
				</div>
				<div class="row">
					{{ form_widget(form.P97) }}
					{{ form_label(form.P97) }}
				</div>
				<div class="row">
					{{ form_widget(form.P98) }}
					{{ form_label(form.P98) }}
				</div>
				<div class="row">
					{{ form_widget(form.P99) }}
					{{ form_label(form.P99) }}
				</div>
				<div class="row">
					{{ form_widget(form.P100) }}
					{{ form_label(form.P100) }}
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					{{ form_widget(form.P101) }}
					{{ form_label(form.P101) }}
				</div>
				<div class="row">
					{{ form_widget(form.P102) }}
					{{ form_label(form.P102) }}
				</div>
				<div class="row">
					{{ form_widget(form.P103) }}
					{{ form_label(form.P103) }}
				</div>
				<div class="row">
					{{ form_widget(form.P104) }}
					{{ form_label(form.P104) }}
				</div>
				<div class="row">
					{{ form_widget(form.P105) }}
					{{ form_label(form.P105) }}
				</div>
				<div class="row">
					{{ form_widget(form.P106) }}
					{{ form_label(form.P106) }}
				</div>
			</div>
		</div>
	</div>
</div>