{% extends "MassilMedicalBundle::layout.html.twig" %}

{% block title %}
	Consultation : {{ patient.nom|capitalize~' '~patient.prenom|capitalize }}
{% endblock %}
{% block medical_body %}
	<div class="page-header">
		<h1><i class="glyphicon glyphicon-pushpin"></i> Consultation : <small> <i class="glyphicon glyphicon-user"></i> {{ patient.nom|capitalize~' '~patient.prenom|capitalize }}</small></h1>
		<i><strong>le : </strong>{{ consultation.date|date('d/m/Y') }} <strong> &agrave; : </strong> {{ consultation.date|date('H') }}<strong>h</strong>{{ consultation.date|date('i') }}</i>
	</div>
	
	<form method="post" {{ form_enctype(form) }}>
	<div class="row">
	<div class="btn-group col-md-6">
		<a href="{{ path('medical_patient_show',{'id':patient.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour vers patient
		</a>
		<button type="submit" class="btn btn-success">
			<i class="glyphicon glyphicon-floppy-disk"></i>
			Enregistrer
		</button>
	</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Constantes vitales</h4>
				</div>
				<div class="panel-body">
					{% include "MassilMedicalBundle:Consultation:constante.html.twig" %}
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Motif de consultation</h4>
				</div>
				<div class="panel-body">
					{% include "MassilMedicalBundle:Consultation:motif.html.twig" %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Diagnostic</h4>
				</div>
				<div class="panel-body">
					{% include "MassilMedicalBundle:Consultation:diagnostic.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Examens</h4>
				</div>
				<div class="panel-body">
					{% include "MassilMedicalBundle:Examen:examen.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ordonance</h4>
				</div>
				<div class="panel-body">
					{% include "MassilMedicalBundle:Consultation:ordonnance.html.twig" %}
				</div>
			</div>
		</div>
			<!--$("#massil_medicalbundle_consultationtype_diagnostic").val()-->
	</div>
	{{ form_row(form._token) }}
	{{ form_rest(form) }}
	</form>
	{% block javascript %}
		{{ parent() }}
		<script type="text/javascript" src="{{ asset('tinymce/js/tinymce/tinymce.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/add-tinymce-config.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/add-bilan-general.js') }}"></script>
	{% endblock %}
{% endblock %}