{% extends "MassilMedicalBundle::layout.html.twig" %}

{% block medical_body %}
<div class="page-header">
	<h1><i class="glyphicon glyphicon-trash"></i> Supprimer consultation : {{ ' '~patient.nom|capitalize~' '~patient.prenom|capitalize }}</h1>
	<i><strong>le : </strong>{{ consultation.date|date('d/m/Y') }} <strong> &agrave; : </strong> {{ consultation.date|date('H') }}<strong>h</strong>{{ consultation.date|date('i') }}</i>
</div>

<div class="row">
	<div class="alert alert-warning">
		<i class="glyphicon glyphicon-warning-sign"></i>
		<strong>Attention : </strong> Cette consultation va &ecirc;tre supprim&eacute; ! 
	</div>
</div>


<p> Et&ecirc;s-vous certain de supprimer cette consultation ?</p>
<form method="post" action="{{ path('medical_consultation_delete',{'id':consultation.id}) }}">
	<a href="{{ path('medical_patient_show',{'id':patient.id}) }}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour au patient
	</a>
	<button class="btn btn-danger" type="submit">
		<i class="glyphicon glyphicon-trash"></i>
		Supprimer
	</button>
	{{ form_rest(form) }}
</form>
{% endblock %}