<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>ECBU et ASLO</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="row">
					{{ form_widget(form.P86) }}
					{{ form_label(form.P86) }}
				</div>
				<div class="row">
					{{ form_widget(form.P87) }}
					{{ form_label(form.P87) }}
				</div>
				<div class="row">
					{{ form_widget(form.P88) }}
					{{ form_label(form.P88) }}
				</div>
			</div>
		</div>
	</div>
</div>