
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4> Fer : Bilan Martial</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<div class="row">
					{{ form_widget(form.P40) }}
					{{ form_label(form.P40) }}
				</div>
				<div class="row">
					{{ form_widget(form.P41) }}
					{{ form_label(form.P41) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					{{ form_widget(form.P42) }}
					{{ form_label(form.P42) }}
				</div>
				<div class="row">
					{{ form_widget(form.P43) }}
					{{ form_label(form.P43) }}
				</div>
			</div>
		</div>
	</div>
