<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>H&eacute;mostase</h4>	
	</div>
	
	<div class="panel-body">
		{# devide the paneml to three parts  #}
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P01) }}
				{{ form_label(form.P01) }}
			</div>
			<div class="row">
				{{ form_widget(form.P02) }}
				{{ form_label(form.P02) }}
			</div>
			<div class="row">
				{{ form_widget(form.P03) }}
				{{ form_label(form.P03) }}
			</div>
			<div class="row">
				{{ form_widget(form.P04) }}
				{{ form_label(form.P04) }}
			</div>

		</div>
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P05) }}
				{{ form_label(form.P05) }}
			</div>
			<div class="row">
				{{ form_widget(form.P06) }}
				{{ form_label(form.P06) }}
			</div>
			<div class="row">
				{{ form_widget(form.P07) }}
				{{ form_label(form.P07) }}
			</div>
			<div class="row">
				{{ form_widget(form.P08) }}
				{{ form_label(form.P08) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P09) }}
				{{ form_label(form.P09) }}
			</div>
			<div class="row">
				{{ form_widget(form.P10) }}
				{{ form_label(form.P10) }}
			</div>
			<div class="row">
				{{ form_widget(form.P11) }}
				{{ form_label(form.P11) }}
			</div>
		</div>
	</div>
</div>