<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Bilan H&eacute;patique</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<div class="row">
					{{ form_widget(form.P66) }}
					{{ form_label(form.P66) }}
				</div>
				<div class="row">
					{{ form_widget(form.P67) }}
					{{ form_label(form.P67) }}
				</div>
				<div class="row">
					{{ form_widget(form.P68) }}
					{{ form_label(form.P68) }}
				</div>
				<div class="row">
					{{ form_widget(form.P71) }}
					{{ form_label(form.P71) }}
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="row">
					{{ form_widget(form.P69) }}
					{{ form_label(form.P69) }}
				</div>
				<div class="row">
					{{ form_widget(form.P74) }}
					{{ form_label(form.P74) }}
				</div>
				<div class="row">
					{{ form_widget(form.P75) }}
					{{ form_label(form.P75) }}
				</div>
				<div class="row">
					{{ form_widget(form.P76) }}
					{{ form_label(form.P76) }}
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="row">
					{{ form_widget(form.P70) }}
					{{ form_label(form.P70) }}
				</div>
				<div class="row">
					{{ form_widget(form.P65) }}
					{{ form_label(form.P65) }}
				</div>
				<div class="row">
					{{ form_widget(form.P72) }}
					{{ form_label(form.P72) }}
				</div>
				<div class="row">
					{{ form_widget(form.P73) }}
					{{ form_label(form.P73) }}
				</div>
			</div>
		</div>
	</div>
</div>