<h4>Myl&eacute;ogramme</h4>

<div class="col-md-4">
	<h5>Erythrocytaire</h5>
	<div class="row">
		{{ form_widget(form.P29) }}
		{{ form_label(form.P29) }}
	</div>
	<div class="row">
		{{ form_widget(form.P30) }}
		{{ form_label(form.P30) }}
	</div>
	<div class="row">
		{{ form_widget(form.P31) }}
		{{ form_label(form.P31) }}
	</div>
	<div class="row">
		{{ form_widget(form.P32) }}
		{{ form_label(form.P32) }}
	</div>
</div>

<div class="col-md-4">
	<h5>Granulocytaire</h5>
	<div class="row">
		{{ form_widget(form.P33) }}
		{{ form_label(form.P33) }}
	</div>
	<div class="row">
		{{ form_widget(form.P34) }}
		{{ form_label(form.P34) }}
	</div>
	<div class="row">
		{{ form_widget(form.P35) }}
		{{ form_label(form.P35) }}
	</div>
	<div class="row">
		{{ form_widget(form.P36) }}
		{{ form_label(form.P36) }}
	</div>
</div>

<div class="col-md-4">
	<div class="row">
		{{ form_widget(form.P37) }}
		{{ form_label(form.P37) }}
	</div>
	<h5>El&eacute;ments non my&eacute;lo&iuml;des</h5>
	<div class="row">
		{{ form_widget(form.P38) }}
		{{ form_label(form.P38) }}
	</div>
	<h5>M&eacute;gacaryocytaire</h5>
	<div class="row">
		{{ form_widget(form.P39) }}
		{{ form_label(form.P39) }}
	</div>
</div>