<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Les Prot&eacute;ines</h4>
	</div>
	<div class="panel-body">
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P44) }}
				{{ form_label(form.P44) }}
			</div>
			<div class="row">
				{{ form_widget(form.P45) }}
				{{ form_label(form.P45) }}
			</div>
			<div class="row">
				{{ form_widget(form.P46) }}
				{{ form_label(form.P46) }}
			</div>
			<div class="row">
				{{ form_widget(form.P47) }}
				{{ form_label(form.P47) }}
			</div>
			<div class="row">
				{{ form_widget(form.P48) }}
				{{ form_label(form.P48) }}
			</div>
			<div class="row">
				{{ form_widget(form.P49) }}
				{{ form_label(form.P49) }}
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P50) }}
				{{ form_label(form.P50) }}
			</div>
			<div class="row">
				{{ form_widget(form.P51) }}
				{{ form_label(form.P51) }}
			</div>
			<div class="row">
				{{ form_widget(form.P52) }}
				{{ form_label(form.P52) }}
			</div>
			<div class="row">
				{{ form_widget(form.P53) }}
				{{ form_label(form.P53) }}
			</div>
			<div class="row">
				{{ form_widget(form.P54) }}
				{{ form_label(form.P54) }}
			</div>
			<div class="row">
				{{ form_widget(form.P55) }}
				{{ form_label(form.P55) }}
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="row">
				{{ form_widget(form.P56) }}
				{{ form_label(form.P56) }}
			</div>
			<div class="row">
				{{ form_widget(form.P57) }}
				{{ form_label(form.P57) }}
			</div>
			<div class="row">
				{{ form_widget(form.P58) }}
				{{ form_label(form.P58) }}
			</div>
			<div class="row">
				{{ form_widget(form.P59) }}
				{{ form_label(form.P59) }}
			</div>
			<div class="row">
				{{ form_widget(form.P60) }}
				{{ form_label(form.P60) }}
			</div>
		</div>
	</div>
</div>