<div class="col-md-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Sucres</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="row">
					{{ form_widget(form.P61) }}
					{{ form_label(form.P61) }}
				</div>
				<div class="row">
					{{ form_widget(form.P62) }}
					{{ form_label(form.P62) }}
				</div>
				<div class="row">
					{{ form_widget(form.P63) }}
					{{ form_label(form.P63) }}
				</div>
				<div class="row">
					{{ form_widget(form.P64) }}
					{{ form_label(form.P64) }}
				</div>
			</div>
		</div>
	</div>
</div>