<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>M&eacute;tabolisme des sucres</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<div class="row">
					{{ form_widget(form.P61) }}
					{{ form_label(form.P61) }}
				</div>
				<div class="row">
					{{ form_widget(form.P62) }}
					{{ form_label(form.P62) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					{{ form_widget(form.P63) }}
					{{ form_label(form.P63) }}
				</div>
				<div class="row">
					{{ form_widget(form.P64) }}
					{{ form_label(form.P64) }}
				</div>
			</div>
		</div>
	</div>
</div>