<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Vitamines</h4>
		</div>
		<div class="panel-body">
			<div class="col-md-2">
				<div class="row">
					{{ form_widget(form.P77) }}
					{{ form_label(form.P77) }}
				</div>
				<div class="row">
					{{ form_widget(form.P78) }}
					{{ form_label(form.P78) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					{{ form_widget(form.P79) }}
					{{ form_label(form.P79) }}
				</div>
				<div class="row">
					{{ form_widget(form.P80) }}
					{{ form_label(form.P80) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					{{ form_widget(form.P81) }}
					{{ form_label(form.P81) }}
				</div>
				<div class="row">
					{{ form_widget(form.P82) }}
					{{ form_label(form.P82) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					{{ form_widget(form.P83) }}
					{{ form_label(form.P83) }}
				</div>
				<div class="row">
					{{ form_widget(form.P84) }}
					{{ form_label(form.P84) }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="row">
					{{ form_widget(form.P85) }}
					{{ form_label(form.P85) }}
				</div>
			</div>
		</div>
	</div>
</div>